 @model VKINFO.APPLICATION.Search.Queries.SearchAll.SearchViewModel
@{
    ViewData["Title"] = "Search";
}

<div class="container-fluid" style="padding: 20px 20px">
    <div id="ui-view" style="background-color: #ffffff">
        <div>
            <h3>Kết quả tìm kiếm</h3>
            <div class="animated fadeIn" style="border: 1px solid #f0f3f5;">
                <div class="card">
                    <div class="card-body">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="row" style=" padding-left: 15px; padding-right: 15px;">
                                <div class="col-sm-12">
                                    <div class="card-header" style="background-color: #f0f3f5; padding:10px 20px 10px 20px ">
                                        <i class="fa fa-edit"></i> Thể loại
                                    </div>
                                    <table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending" style="width: 281px;">Name</th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Description: activate to sort column ascending" style="width: 240.2px;">Description</th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Date Created: activate to sort column ascending" style="width: 240.2px;">Date Created</th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="DateModified: activate to sort column ascending" aria-sort="descending" style="width: 281px;">Date Modified</th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="number of books: activate to sort column ascending" style="width: 150.2px;">Number of books</th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 121.8px;">Status</th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending" style="width: 150.2px;">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Genre.Count == 0)
                                            {
                                                <h3 style="color: red">Không tìm thấy trong mục này</h3>
                                            }
                                            else
                                            {
                                                @foreach (var item in Model.Genre)
                                                {
                                                    if (@item.Status == 1)
                                                    {
                                                        <tr role="row" class="odd">
                                                            <td class="sorting_1">@item.Name</td>
                                                            <td class="sorting_1">@item.Description</td>
                                                            <td>@item.DateCreated</td>
                                                            <td>@item.DateModified</td>
                                                            <td>@item.BookGenres.Count</td>
                                                            <td>
                                                                <span class="badge badge-success" style="background-color: forestgreen">ACTIVE </span>
                                                            </td>
                                                            <td>
                                                                <a class="btn btn-info" asp-controller="Genre" asp-action="Edit" asp-route-id="@item.Id">
                                                                    <i class="fa fa-edit"></i>
                                                                </a>
                                                                <a class="btn btn-danger" onclick="return btDelete()" asp-controller="Genre" asp-action="Delete" asp-route-id="@item.Id">
                                                                    <i class="fa fa-trash-o"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                    <br /><hr /><br />
                                    <div class="card-header" style="background-color: #f0f3f5; padding:10px 20px 10px 20px ">
                                        <i class="fa fa-edit"></i> Tác giả
                                    </div>
                                    <table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Full Name: activate to sort column ascending" style="width: 240.2px;">Full Name</th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Nick Name: activate to sort column ascending" style="width: 240.2px;">Nick Name</th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Description: activate to sort column ascending" aria-sort="descending" style="width: 281px;">Description</th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Date Created: activate to sort column ascending" style="width: 240.2px;">Date Created</th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="DateModified: activate to sort column ascending" aria-sort="descending" style="width: 281px;">Date Modified</th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 101.8px;">Number Book</th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 101.8px;">Status</th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending" style="width: 130.2px;">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Author.Count == 0)
                                            {
                                                <h3 style=" color: red">Không tìm thấy trong mục này</h3>
                                            }
                                            else
                                            {
                                                @foreach (var item in Model.Author)
                                                {
                                                    var check = item.Status;
                                                    if (check == 1)
                                                    {
                                                        <tr role="row" class="odd">
                                                            <td class="sorting_1">@item.FullName</td>
                                                            <td class="sorting_1">@item.Nickname</td>
                                                            <td class="sorting_1">@item.Description</td>
                                                            <td>@item.DateCreated</td>
                                                            <td>@item.DateModified</td>
                                                            <td>@item.Books.Count</td>
                                                            <td>
                                                                <span class="badge badge-success">Active</span>
                                                            </td>
                                                            <td>
                                                                <a class="btn btn-info" asp-controller="Authors" asp-action="Edit" asp-route-id="@item.Id">
                                                                    <i class="fa fa-edit"></i>
                                                                </a>
                                                                <a class="btn btn-danger" onclick="return btDelete()" asp-controller="Authors" asp-action="Delete" asp-route-id="@item.Id">
                                                                    <i class="fa fa-trash-o"></i>
                                                                </a>
                                                            </td>
                                                        </tr>

                                                    }
                                                }
                                            }

                                        </tbody>
                                    </table>
                                    <br /><hr /><br />
                                    <div class="card-header" style="background-color: #f0f3f5; padding:10px 20px 10px 20px ">
                                        <i class="fa fa-edit"></i> Category
                                    </div>
                                    <table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending" style="width: 281px;">Name</th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Description: activate to sort column ascending" style="width: 240.2px;">Description</th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Date Created: activate to sort column ascending" style="width: 240.2px;">Date Created</th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="DateModified: activate to sort column ascending" aria-sort="descending" style="width: 281px;">Date Modified</th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 101.8px;">Number Books</th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 121.8px;">Status</th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending" style="width: 150.2px;">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Category.Count == 0)
                                            {
                                                <h3 style="color: red">Không tìm thấy trong mục này</h3>
                                            }
                                            else
                                            {
                                                @foreach (var iterm in Model.Category)
                                                {
                                                    var check = iterm.Status;
                                                    <tr role="row" class="odd">
                                                        <td class="sorting_1">@iterm.Name</td>
                                                        <td class="sorting_1">@iterm.Description</td>
                                                        <td>@iterm.DateCreated.ToString("MM/dd/yyyy")</td>
                                                        <td>@iterm.DateModified.ToString("MM/dd/yyyy")</td>
                                                        <td>@iterm.BookCategories.Count</td>
                                                        @if (check == 1)
                                                        {
                                                            <td>
                                                                <span class="badge badge-success">Status</span>
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td>
                                                                <span class="badge badge-warning">Not status</span>
                                                            </td>
                                                        }

                                                        <td>
                                                            <a class="btn btn-info" asp-controller="Category" asp-action="Edit" asp-route-id="@iterm.Id">
                                                                <i class="fa fa-edit"></i>
                                                            </a>
                                                            <a class="btn btn-danger" asp-controller="Category" asp-action="Delete" asp-route-id="@iterm.Id">
                                                                <i class="fa fa-trash-o"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                    <br /><hr /><br />
                                    <div class="card-header" style="background-color: #f0f3f5; padding:10px 20px 10px 20px ">
                                        <i class="fa fa-edit"></i> Truyện
                                    </div>
                                    <table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 240.2px;">Tên Truyện</th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Anh: activate to sort column ascending" aria-sort="descending" style="width: 221px;">Hình Ảnh</th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Description: activate to sort column ascending" style="width: 250.2px;">Giới Thiệu</th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Date Created: activate to sort column ascending" style="width: 140.2px;">Ngày Đăng</th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 101.8px;">Chapters</th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 121.8px;">Status</th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending" style="width: 150.2px;">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Book.Count == 0)
                                            {
                                                <h3 style="color: red">Không tìm thấy trong mục này</h3>
                                            }
                                            else
                                            {
                                                @foreach (var iterm in Model.Book)
                                                {
                                                    var check = iterm.Status;
                                                    <tr role="row" class="odd">
                                                        <td class="sorting_1">@iterm.Title</td>
                                                        <td><img src="@iterm.Image" /></td>
                                                        <td><p>@iterm.Description</p></td>
                                                        <td>@iterm.DateCreated.ToString("MM/dd/yyyy")</td>
                                                        <td>@iterm.Chapters.Count</td>
                                                        @if (check == 1)
                                                        {
                                                            <td>
                                                                <span class="badge badge-warning">Hoàn thành</span>
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td>
                                                                <span class="badge badge-success">Chưa hoàn thành</span>
                                                            </td>
                                                        }

                                                        <td>
                                                            <a class="btn btn-info" asp-controller="Book" asp-action="Edit" asp-route-id="@iterm.Id">
                                                                <i class="fa fa-edit"></i>
                                                            </a>
                                                            <a class="btn btn-danger" asp-controller="Book" asp-action="Delete" asp-route-id="@iterm.Id">
                                                                <i class="fa fa-trash-o"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                    <br /><hr /><br />

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function btDelete() {
        return (confirm('Are you sure you want to delete'));
    }
</script>
