@model VKINFO.APPLICATION.CategoryAdmin.Queries.GetCategoryAdminByID.CategoryAdminViewModelById

@{
    var t = 0;
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="padding: 20px 20px">
    <div id="ui-view" style="background-color: #ffffff">
        <div>
            <div class="animated fadeIn" style="border: 1px solid #f0f3f5;">
                <div class="card">
                    <div class="card-header" style="background-color: #f0f3f5; padding:10px 20px 10px 20px ">
                        <i class="fa fa-edit"></i>  Sửa Category
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <form asp-action="Edit">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="Id" />
                                    <div class="form-group">
                                        <label asp-for="Name" class="control-label"></label>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Description" class="control-label"></label>
                                        <textarea id="position-input" asp-for="Description" class="form-control" placeholder="Mô tả" required="" rows="6"></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Status" class="control-label"></label>
                                        <select asp-for="Status" class="form-control">
                                            <option value="1">ACTIVE</option>
                                            <option value="2">Not Active</option>
                                        </select>
                                        <span asp-validation-for="Status" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Save" class="btn btn-default" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="row" style="padding: 20px 30px 20px 30px">
                                <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_length" id="DataTables_Table_0_length">
                                        <label>
                                            Show <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="custom-select custom-select-sm form-control form-control-sm">
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </label>
                                        <h3>Danh sách truyện</h3>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div id="DataTables_Table_0_filter" class="dataTables_filter" style="float:right">
                                        <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style=" padding-left: 15px; padding-right: 15px;">
                                <div class="col-sm-12">
                                    <table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_desc" style="width:100px;" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="STT: activate to sort column ascending" aria-sort="descending">STT</th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 240.2px;">Tên Truyện</th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Date Created: activate to sort column ascending" style="width: 240.2px;">Tác Giả</th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Anh: activate to sort column ascending" aria-sort="descending" style="width: 221px;">Hình Ảnh</th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Description: activate to sort column ascending" style="width: 250.2px;">Giới Thiệu</th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Date Created: activate to sort column ascending" style="width: 140.2px;">Ngày Đăng</th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="SoChuong: activate to sort column ascending" style="width: 140.2px;">Số Chương</th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 121.8px;">Status</th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending" style="width: 150.2px;">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var iterm in Model.BookCategories)
                                            {
                                                var check = iterm.Book.Status;
                                                t++;
                                                <tr role="row" class="odd">
                                                    <td>@t</td>
                                                    <td class="sorting_1">@iterm.Book.Title</td>
                                                    <td class="sorting_1">@iterm.Book.Author.FullName</td>
                                                    <td><img src="@iterm.Book.Image" /></td>
                                                    <td><p>@iterm.Book.Description</p></td>
                                                    <td>@iterm.Book.DateCreated.ToString("MM/dd/yyyy")</td>
                                                    <td>@iterm.Book.Chapters.Count()</td>
                                                    @if (check == 1)
                                                    {
                                                        <td>
                                                            <span class="badge badge-warning">Hoàn thành</span>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            <span class="badge badge-success">Chưa hoàn thành</span>
                                                        </td>
                                                    }

                                                    <td>
                                                        <a class="btn btn-info" asp-route-id="@iterm.Book.Id" asp-controller="Book" asp-action="Edit">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                        <a class="btn btn-danger" onclick="return btDelete()"  asp-route-id="@iterm.Book.Id" asp-controller="Book" asp-action="Delete">
                                                            <i class="fa fa-trash-o"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div><div class="row" style=" padding-left: 15px; padding-right: 15px;">
                                <div class="col-sm-12 col-md-5"><div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 10 of 32 entries</div></div><div class="col-sm-12 col-md-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                        <ul class="pagination">
                                            @if (Model.CurrentPage == 1)
                                            {
                                                <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>

                                            }
                                            else
                                            {
                                                <li class="paginate_button page-item previous" id="DataTables_Table_0_previous"><a href="@Url.Action("Edit","Category",new {Id = Model.Id,page = Model.PreviousPage})" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                                            }
                                            @if (Model.CurrentPage - 3 > 0)
                                            {
                                                <li class="paginate_button page-item active"><a href="@Url.Action("Edit","Category",new {Id = Model.Id,page = Model.CurrentPage -3})" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">@(Model.CurrentPage - 3)</a></li>
                                            }
                                            @if (Model.CurrentPage - 2 >0)
                                            {
                                                <li class="paginate_button page-item active"><a href="@Url.Action("Edit","Category",new {Id = Model.Id,page = Model.CurrentPage -2})" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">@(Model.CurrentPage - 2)</a></li>
                                            }
                                            @if (Model.CurrentPage - 1 > 0)
                                            {
                                                <li class="paginate_button page-item active"><a href="@Url.Action("Edit","Category",new {Id = Model.Id,page = Model.CurrentPage -1})" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">@(Model.CurrentPage - 1)</a></li>
                                            }
                                            <li class="paginate_button"><a href="@Url.Action("Edit","Category",new {Id = Model.Id,page = Model.CurrentPage})" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">@(Model.CurrentPage)</a></li>
                                            @if (Model.CurrentPage + 1 <= Model.TotalPage)
                                            {
                                                <li class="paginate_button page-item active"><a href="@Url.Action("Edit","Category",new {Id = Model.Id,page = Model.CurrentPage +1})" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">@(Model.CurrentPage + 1)</a></li>
                                            }
                                            @if (Model.CurrentPage + 2 <= Model.TotalPage)
                                            {
                                                <li class="paginate_button page-item active"><a href="@Url.Action("Edit","Category",new {Id = Model.Id,page = Model.CurrentPage +2})" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">@(Model.CurrentPage + 2)</a></li>
                                            }
                                            @if (Model.CurrentPage + 3 <= Model.TotalPage)
                                            {
                                                <li class="paginate_button page-item active"><a href="@Url.Action("Edit","Category",new {Id = Model.Id,page = Model.CurrentPage + 3})" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">@(Model.CurrentPage + 3)</a></li>
                                            }
                                            @if (Model.CurrentPage == Model.TotalPage)
                                            {
                                                <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="@Url.Action("Edit","Category", new {Id = Model.Id,page = Model.NextPage})" aria-controls="DataTables_Table_0" data-dt-idx="5" tabindex="0" class="page-link">Next</a></li>

                                            }
                                            else
                                            {
                                                <li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="@Url.Action("Edit","Category", new {Id = Model.Id,page = Model.NextPage})" aria-controls="DataTables_Table_0" data-dt-idx="5" tabindex="0" class="page-link">Next</a></li>
                                            }

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function btDelete() {
        var x = confirm('Are you sure you want to delete ?');
        if (x) {
            return true;
        }
        else {
            return false;
        }
    }
</script>
